*:Zone.Identifier
site/private/vendor/*
site/private/config/secrets/*
site/private/src/view/templates/cache/*
site/private/src/view/emails/cache/*
site/private/config/*local*
*tests/*
*.log
database/*.sql
!database/dump.sql
site/public_html/documentos/*
site/private/src/app/controller/Teste.php
site/private/storage/cache/*
site/private/storage/documents/*
site/private/storage/sessions/*
site/private/logs/*
site/public_html/assets/js/*
!site/public_html/assets/js/libs/
site/public_html/assets/css/*
!site/public_html/assets/css/libs/
*teste*
!*.keep
.vscode/*
*.mwb.bak
database/*.png
*.env
