{% extends "base.html" %}

{% set bodyClass = 'bg-drawn' %}

{% block head %}
<title>Redefinir senha - Brasil Cursinhos</title>
<meta name="keywords" content="Brasil Cursinhos; Eventos; Cursinhos Universitários Populares; Educação Popular">
<meta name="description" content="Página de recuperação de conta para acesso a área restrita do site do Cursinho PES, curso pré-vestibular social da UFSC Campus Araranguá-SC.">
<meta name="robots" content="index, follow">
{% endblock head %}

{% block main %}
<main class="d-flex justify-content-center align-items-center">
  <div class="card m-4 maxw-900">
    <div class="card-body">
      <div class="row">
        <div class="col-12 col-sm-6 d-flex flex-column justify-content-center">
          <img src="/assets/img/logos/logo-bc.png" class="w-75 mx-auto" alt="Logo Brasil Cursinhos">
        </div>
        <div class="col-12 col-sm-6 d-flex flex-column justify-content-center">
          
          {% if name is not null %}
          <h4 class="card-title mb-4 w-100 text-center fw-bold">REDEFINIR SENHA</h4>
          <p>Olá {{name}}!</p>
          <p class="mb-1">Altere a sua senha para acessar sistema.</p>
          <p>A senha deve ter no mínimo 8 caracteres, sendo pelo menos 1 letra minúscula, 1 letra maiúscula e 1 número.</p>
          <form action="/redefinir-senha" method="post" id="reset-password-form">
            {{ csrf_field() }}
            <input type="hidden" name="user" id="user" value="{{cpf}}">
            <input type="hidden" name="verification-code" value="{{verificationCode}}">
            <div class="row g-2 mb-3">
              <div class="col-12">
                <label for="password" class="form-label"><b>Digite sua senha:</b></label>
                <div class="input-group">
                  <input type="password" class="form-control" name="password" id="password" autocomplete="new-password">
                  <button type="button" class="input-group-text" id="btn-password-visibility" aria-label="Mostrar senha" title="Mostrar senha"><span class="material-symbols-outlined" role="img" aria-hidden="true">visibility</span></button>
                </div>
              </div>
              <div class="col-12">
                <label for="password-confirmation" class="form-label"><b>Confirme sua senha:</b></label>
                <div class="input-group">
                  <input type="password" class="form-control" id="password-confirmation" name="password-confirmation" autocomplete="new-password">
                  <button type="button" class="input-group-text" id="btn-password-confirmation-visibility" aria-label="Mostrar confirmação de senha" title="Mostrar confirmação de senha"><span class="material-symbols-outlined" role="img" aria-hidden="true">visibility</span></button>
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
                <button class="btn btn-secondary-bc w-auto" type="submit">Alterar senha</button>
            </div>
          </form>
          {% else %}
          <h4 class="card-title mb-4 w-100 text-center fw-bold">ERRO DE VALIDAÇÃO</h4>
          <p>O código de verificação não foi encontrado ou já expirou.</p>
          <p>Acesse a <a href="/recuperar-conta">página de recuperação</a> e solicite um novo código.</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</main>
<footer class="w-100 text-white text-center">
  <p class="my-2"><b>{{ "now" | date('Y')}} Brasil Cursinhos ©</b></p>
</footer>
{% endblock main %}

{% block scriptsJS %}
{% include '@links/forms-validation.html' %}
<script src="/assets/js/pages/reset-password.js" defer></script>
{% endblock scriptsJS %}