{% extends "base.html" %}

{% set includePublicHeader = false %}
{% set includePublicFooter = false %}
{% set bodyClass = "bg-drawn pt-4" %}

{% block head %}
    <title>Cadastro - Brasil Cursinhos</title>
    <meta name="keywords" content="Brasil Cursinhos">
    <meta name="description" content="Formulário de cadastro no site de eventos da Brasil Cursinhos.">
    <meta name="robots" content="index, follow">
{% endblock head %}

{% block main %}
<main class="d-flex justify-content-center align-items-center">
  <div class="card m-4 mb-5 maxw-1000">
    <div class="card-body w-100">
      <h1 class="mb-4 fw-bold text-center">Cadastro - Eventos Brasil Cursinhos</h1>
      <form action="/cadastrar" method="post" id="subscription-form">
        {{ csrf_field() }}
        <div class="card">
          <div class="card-header">
            <h5 class="card-title fw-bold mb-0">INFORMAÇÕES PESSOAIS</h5>
          </div>
          <div class="card-body">
            <div class="card mb-3">
              <div class=" card-header">
                <strong>IDENTIFICAÇÃO</strong>
              </div>
              <div class="card-body">
                <div class="row g-2 mb-1">
                  <div class="col-md">
                    <label for="full-name" class="form-label"><b>Nome completo:</b></label>
                    <input type="text" class="form-control" id="full-name" name="full-name" placeholder="Digite o seu nome completo" autocomplete="given-name">
                  </div>
                </div>
                <small><strong>ATENÇÃO:</strong> Informe o seu nome <strong>completo</strong> de acordo como consta em seus documentos oficiais.</small>
                <div class="row my-4">
                  <div class="col">
                    Gostaria de utilizar nome social?&nbsp;&nbsp;&nbsp;
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="use-social-name" id="use-social-name-yes" value="yes">
                      <label class="form-check-label" for="use-social-name-yes">Sim</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="use-social-name" id="use-social-name-no" value="no" checked>
                      <label class="form-check-label" for="use-social-name-no">Não</label>
                    </div>
                  </div>
                </div>
                <div class="card my-4 d-none" id="social-name-field">
                  <div class="card-header">
                    <strong>NOME SOCIAL</strong>
                  </div>
                  <div class="card-body">
                    <div class="row mb-3">
                      <div class="col">
                        <label for="social-name" class="form-label"><b>Nome social:</b></label>
                        <input type="text" class="form-control" id="social-name" name="social-name" placeholder="Digite o seu nome social">
                      </div>
                    </div>
                    <p class="mb-0"><strong>IMPORTANTE:</strong> Seu nome civil será mantido em absoluto sigilo e utilizado apenas quando for estritamente necessário, como na emissão de documentos oficiais. Mesmo nestes casos, seu nome social sempre aparecerá em posição de destaque em respeito ao Decreto Federal nº 8.727/2016.</p>
                  </div>
                </div>
                <div class="row g-2">
                  <div class="col-md-4">
                    <label for="cpf" class="form-label"><b>CPF:</b></label>
                    <input type="text" class="form-control" id="cpf" value="{{cpf}}" readonly disabled>
                    <input type="hidden" name="cpf" value="{{cpf}}">
                  </div>
                  <div class="col-md-4">
                    <label for="birth-date" class="form-label"><b>Data de Nascimento:</b></label>
                    <input type="date" class="form-control" id="birth-date" name="birth-date" min="1900-01-01" max="{{ "now" | date('Y-m-d')}}">
                  </div>
                  <div class="col-6 col-xl-2">
                    <label for="age" class="form-label"><b>Idade:</b></label>
                    <div class="input-group mb-3">
                      <input type="text" class="form-control" id="age" name="age" aria-describedby="age-units" readonly disabled>
                      <span class="input-group-text" id="age-units">Anos</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="card mb-3">
              <div class=" card-header">
                <strong>PERFIL E DIVERSIDADE</strong>
              </div>
              <div class="card-body">
                <div class="row g-2 mb-3">
                  <p>Aqui você pode informar o nome ou apelido pelo qual você prefere ser chamado(a) no dia a dia, as autodeclarações de identidade de gênero e cor, além dos pronomes que devemos usar ao falar com você.</p>
                  <div class="col-md">
                    <label for="nickname" class="form-label"><b>Nome ou apelido:</b></label>
                    <input type="text" class="form-control" id="nickname" name="nickname" autocomplete="on">
                  </div>
                  <div class="col-md-3">
                    <label for="gender-identity" class="form-label"><b>Identidade de gênero:</b></label>
                    <select name="gender-identity" id="gender-identity" class="form-select">
                      <option value="">Selecione...</option>
                      <option value="Homem cis">Homem cis</option>
                      <option value="Homem trans">Homem trans</option>
                      <option value="Mulher cis">Mulher cis</option>
                      <option value="Mulher trans">Mulher trans</option>
                      <option value="Não binário">Não binário</option>
                      <option value="Outro">Outro</option>
                      <option value="Prefiro não declarar">Prefiro não declarar</option>
                    </select>
                  </div>
                  <div class="col-md-3">
                    <label for="ethnicity" class="form-label"><b>Cor/raça:</b></label>
                    <select name="ethnicity" id="ethnicity" class="form-select">
                      <option value="">Selecione...</option>
                      <option value="Amarela">Amarela</option>
                      <option value="Branca">Branca</option>
                      <option value="Indígena">Indígena</option>
                      <option value="Parda">Parda</option>
                      <option value="Preta">Preta</option>
                      <option value="Prefiro não declarar">Prefiro não declarar</option>
                    </select>
                  </div>
                </div>
                <p>Quais pronomes devemos utilizar ao falar com você?</p>
                <div class="row mb-3 g-3">
                  <div class="col">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="pronouns-he-his" id="pronouns-he-his">
                      <label class="form-check-label" for="pronouns-he-his">Ele/dele</label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="pronouns-she-her" id="pronouns-she-her">
                      <label class="form-check-label" for="pronouns-she-her">Ela/dela</label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="pronouns-they-them" id="pronouns-they-them">
                      <label class="form-check-label" for="pronouns-they-them">Elu/delu</label>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="form-check d-flex align-items-center gap-2">
                      <input class="form-check-input" type="checkbox" name="pronouns-others" id="pronouns-others">
                      <label class="form-check-label text-nowrap" for="pronouns-others">Outro:</label>
                      <input type="text" class="form-control form-control-sm" name="pronouns-others-text" id="pronouns-others-text" disabled>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="pronouns-not-specified" id="pronouns-not-specified">
                      <label class="form-check-label" for="pronouns-not-specified">Prefiro não informar</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-3">
              <div class="card-header">
                <strong>INFORMAÇÕES DE CONTATO</strong>
              </div>
              <div class="card-body">
                <div class="row g-2 mb-3">
                  <div class="col-12">
                    <label for="email" class="form-label"><b>E-mail:</b></label>
                    <input type="text" class="form-control" id="email" value="{{email}}" autocomplete="off" readonly disabled>
                    <input type="hidden" name="email" value="{{email}}">
                  </div>
                </div>
                <div class="row g-2 mb-3">
                  <div class="col-md-4">
                    <label for="email" class="form-label"><b>Informe seu telefone:</b></label>
                    <input type="text" class="form-control" id="phone" name="phone" placeholder="(__) _____-____" autocomplete="tel-national">
                  </div>
                  <div class="col-md-4">
                    <label for="phone" class="form-label"><b>Confirme seu telefone:</b></label>
                    <input type="text" class="form-control" id="phone-confirmation" name="phone-confirmation" placeholder="(__) _____-____" autocomplete="tel-national">
                  </div>
                </div>
              </div>
            </div>

            <div class="card mb-3">
              <div class="card-header d-flex">
                <h5 class="card-title fw-bold mb-0 d-inline-flex align-items-center">INFORMAÇÕES DE ENDEREÇO</h5>
              </div>
              <div class="card-body" id="form-fields-address">
                <p>Digite o seu CEP. A cidade e estado serão carregados automaticamente.</p>
                <div class="row mb-3 g-2">
                  <div class="col-6 col-lg-3">
                    <label for="cep" class="form-label"><strong>CEP:</strong></label>
                    <div class="input-group mb-3">
                      <input type="text" name="cep" id="cep" class="form-control" aria-describedby="seach-cep">
                      <span class="input-group-text" id="seach-cep"><span class="material-symbols-outlined">search</span></span>
                    </div>
                  </div>
                  <div class="col-8 col-lg-7">
                    <label for="city" class="form-label"><strong>Cidade:</strong></label>
                    <input type="text" name="city" id="city" class="form-control bg-dark-subtle" readonly>
                  </div>
                  <div class="col-4 col-lg-2">
                    <label for="state" class="form-label"><strong>Estado:</strong></label>
                    <input type="text" name="state" id="state" class="form-control bg-dark-subtle" readonly>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card my-3">
          <div class="card-header">
            <h5 class="card-title fw-bold mb-0">TERMOS DE SERVIÇO, PRIVACIDADE E TRATAMENTO DE DADOS PESSOAIS</h5>
          </div>
          <div class="card-body">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" name="declaration-of-reading" id="declaration-of-reading">
              <label class="form-check-label" for="declaration-of-reading">
                Li e concordo com os <a href="/termos-de-servico" target="_blank">Termos de Serviço</a> e a <a href="/politica-de-privacidade" target="_blank">Política de Privacidade</a> do site.
              </label>
            </div>
            <div class="form-check mt-3">
              <input class="form-check-input" type="checkbox" value="" name="lgpd-authorization" id="lgpd-authorization">
              <label class="form-check-label" for="lgpd-authorization">
                Autorizo a Brasil Cursinhos a coletar, tratar e armazenar meus dados pessoais fornecidos durante o cadastro, enquanto durar meu vínculo, conforme a Política de Tratamento de Dados Pessoais e em conformidade com a Lei nº 13.709/2018 (LGPD).
              </label>
            </div>
          </div>
        </div>
        <div class="w-100 text-center">
          <a href="/" class="btn btn-cancel-bc text-decoration-none"><strong><span class="material-symbols-outlined">cancel</span> CANCELAR</strong></a>
          <button class="btn btn-secondary-bc" type="submit"><b><span class="material-symbols-outlined">save</span> CADASTRAR</b></button>
        </div>
      </form>
    </div>
  </div>
</main>
{% endblock main %}

{% block scriptsJS %}
    {% include '@links/forms-validation.html' %}
    <script src="/assets/js/pages/subscription.js?v=1.00" defer></script>
{% endblock scriptsJS %}

