            <!-- Barra de navegação lateral -->
            <div class="coluna-barra-lateral d-none d-sm-block bg-inscricao pt-5">
                <div class="container-fluid pb-3" id="BotoesBarraLateral">
                    <img class="pt-4 pb-3" src="/assets/img/logo-pes-circular.png" width="100%">
{%              for link in linksSideBar %}
                    <a class="btn btn-verde w-100 mt-2" href="{{link.url}}">{{link.name}}</a>
{%              endfor %}
                </div>
            </div><!-- /Barra de navegação lateral -->
