{% extends "base.html" %}

{% set includePublicHeader = true %}
{% set includePublicFooter = true %}

{% block head %}
    <title>ENCUP - Brasil Cursinhos</title>
    <meta name="keywords" content="ENCUP; Brasil Cursinhos; Cursinho Universitário Popular">
    <meta name="description" content="Encontro Nacional de Cursinhos Universitários Populares promovido anualmente pela Brasil Cursinhos.">
    <meta name="robots" content="index, follow">
{% endblock head %}

{% block main %}
<main class="page-content bg-drawn d-flex justify-content-center align-items-center">
  <div class="card m-4 w-100 maxw-900  border-0">
    <div class="card-header p-0 overflow-hidden">
      <img src="/assets/img/banner-encup-2026.png" alt="Banner ENCUP 2026" class="w-100">
    </div>
    <div class="card-body">
      <h4 class="w-100 text-center mb-4">XI Encontro Nacional de&nbsp;Cursinhos Universitários&nbsp;Populares</h4>
      <div class="row mb-4">
        <div class="col-md-6 text-center text-md-end">
          <p class="mb-3 mb-md-0"><b><span class="material-symbols-outlined">calendar_month</span> Quando?</b> Dias 15 e 16 de agosto.</p>
        </div>
        <div class="col-md-6 text-center text-md-start">
          <p class="mb-0"><a href="https://maps.app.goo.gl/oHkzEfaEHSfSfjY6A" target="_blank" class="mt-3 text-decoration-none text-dark"><b class="text-nowrap"><span class="material-symbols-outlined">location_on</span>&nbsp;Onde?</b>&nbsp;FGV&nbsp;-&nbsp;São&nbsp;Paulo/SP</a></p>
        </div>
      </div>
      <div class="w-100 text-center mb-2">
        <button class="btn btn-tertiary-bc text-decoration-none m-1 minw-240 w-auto" hidden><b><span class="material-symbols-outlined">info</span> Manual do Participante</b></button>
        <button type="button" class="btn btn-primary-bc m-1 minw-240 w-auto" data-bs-toggle="modal" data-bs-target="#modal-event-schedule">
          <b><span class="material-symbols-outlined">format_list_bulleted</span> Programação</b>
        </button>
        <a href="https://drive.google.com/drive/folders/1XrFPHScpcXyRG_JVFu003JdCp_G0S-xH?usp=sharing" target="_blank" class="btn btn-tertiary-bc text-decoration-none m-1 minw-240 w-auto" hidden>
        <b><span class="material-symbols-outlined">folder</span> Materiais e Slides</b>
        <a href="#" class="btn btn-primary-bc text-decoration-none m-1 minw-240 w-auto"><b>Realizar Inscrição (em breve)</b> <span class="material-symbols-outlined">edit_note</span></a>
        </a>
      </div>
    </div>
  </div>
<!-- Modal -->
<div class="modal fade" id="modal-event-schedule" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modal-event-schedule-label" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header bg-primary-bc text-white">
        <h1 class="modal-title fs-3 fw-bold" id="modal-event-schedule-label">PROGRAMAÇÃO ENCUP 2026</h1>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close" id="btn-close-modal-event-schedule"></button>
      </div>
      <div class="modal-body">
        <div class="w-100 text-center">
          EM BREVE!
        </div>
      </div>
      <div class="modal-footer bg-primary-bc">
        <div class="w-100 text-center">
          <button class="btn btn-cancel-bc" data-bs-dismiss="modal"><b>
            <span class="material-symbols-outlined">arrow_back</span>
            Voltar para a página anterior</b>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
</main>
{% endblock main %}

