{% extends "base.html" %}

{% set includePublicHeader = true %}
{% set includePublicFooter = true %}

{% block head %}
    <title>Eventos Brasil Cursinhos</title>
    <meta name="keywords" content="Brasil Cursinhos; Eventos; Cursinhos Universitários Populares; Educação Popular">
    <meta name="description" content="Sistema degerenciamento de eventos da Brasil Cursinhos.">
    <meta name="robots" content="index, follow">
{% endblock head %}

{% block main %}
    <main class="page-content">
      <div class="home-banner">
        <div class="shadow-home-banner d-flex align-items-center">
          <div class="w-100 text-center">
            <h1>EVENTOS BRASIL CURSINHOS</h1>
          </div>
        </div>
      </div>
    </main>
{% endblock main %}

