{% extends "base.html" %}

{% set bodyClass = 'bg-drawn' %}

{% block head %}
<title>Política de Privacidade - Eventos Brasil Cursinhos</title>
<meta name="keywords" content="Brasil Cursinhos; Eventos; Cursinhos Universitários Populares; Educação Popular">
<meta name="description" content="Política de Privacidade do site de Eventos da Brasil Cursinhos.">
<meta name="robots" content="index, follow">
{% endblock head %}

{% block main %}
<main class="d-flex justify-content-center align-items-center">
  <div class="card m-4 maxw-900">
    <div class="card-body text-justify">
      <h1 class="text-center">Política de Privacidade</h1>

    </div>
  </div>
</main>
<footer class="w-100 text-white text-center">
  <p class="my-2"><b>{{ "now" | date('Y')}} Cursinho PES ©</b></p>
</footer>
{% endblock main %}