Recuperação de Conta
Olá {{name}},

Recebemos uma solicitação de redefinição de senha para a sua conta do site da Brasil Cursinhos. Caso você tenha solicitado a redefinição de senha, acesse o link abaixo do seu navegador. Se você não tiver solicitado, apenas ignore este e-mail.

Link para redefinir sua senha: https://eventos.brasilcursinhos.org/redefinir-senha/{{code}}

O link tem validade de 30 minutos. Após esse prazo, caso ainda seja necessário, você pode visitar a página de recuperação de conta e solicitar um novo e-mail de confirmação para redefinir a sua senha de acesso.

Tenha um ótimo dia e até breve! ;)

Brasil Cursinhos
E-mail enviado automaticamente pelo sistema. Por favor não responda à esta mensagem.