    <header><!--Barra de navegação-->
      <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary-color-bc">
        <div class="container-fluid">
          <a href="/"><img src="/assets/img/logos/bc-branco.png" width="40" height="40" alt="Brasil Cursinhos"></a><a class="navbar-brand p-0 me-auto lh-1" href="/"><span class="ps-2 font-bc-logo fs-5">Brasil Cursinhos</span></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-options" aria-controls="navbar-options" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbar-options">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <!--<li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/eventos" id="navbar-dropdown-menu-ev" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <b id="link-events">ENCUP</b>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbar-dropdown-menu-ev">
                  <li><a class="dropdown-item" href="/encup/2026">XI ENCUP 2026</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/encup/2025">X ENCUP 2025</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/encup/2024">IX ENCUP 2024</a></li>
                </ul>
              </li>-->
              <li class="nav-item">
                <a class="nav-link" href="/encup"><b>ENCUP</b></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contato"><b>Contato</b></a>
              </li>
              <li class="nav-item">
                <a href="/login" class="btn btn-secondary-bc ms-0 ms-lg-3" role="button"><b>Login </b><span class="material-icons-outlined">login</span></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header><!--/Barra de navegação-->
