<footer class="footer container-fluid">
  <div class="row d-flex justify-content-center">
    <div class="col-auto footer-col-left px-0">
      <p class="mt-2 mb-0 fs-4">
        <b>{{ "now" | date('Y')}} Brasil Cursinhos ©</b>
      </p>
      <div class="row flex-nowrap justify-content-center my-1">
        <div class="col-auto ps-0 pe-2 align-content-center">
          <span class="material-symbols-outlined fs-footer">location_on</span>
        </div>
        <div class="col-auto px-0 text-start fs-footer">
          <p class="mt-2 mb-0">São Paulo, São Paulo, Brasil</p>
        </div>
      </div>
      <p class="fs-footer mb-1">
        <b>CNPJ:</b> 27.529.813/0001-20
      </p>
    </div>
    <div class="col-auto footer-col-right px-0 mx-0 mx-lg-5">
      <p class="mt-2 mb-0 fs-4">
        <b>Redes sociais e contato:</b>
      </p>
      <p class="mt-2 mb-4 icon-links">
        <a href="https://www.instagram.com/brasil.cursinhos" target="_blank">
          <i class="bi bi-instagram fs-2 me-3" role="img" aria-label="Instagram"></i>
        </a>
        <a href="https://www.facebook.com/brasil.cursinhos" target="_blank">
          <i class="bi bi-facebook fs-2 me-3" role="img" aria-label="Facebook"></i>
        </a>
        <a href="https://www.linkedin.com/company/brasil-cursinhos" target="_blank">
          <i class="bi bi-linkedin fs-2 me-3" role="img" aria-label="LinkedIn"></i>
        </a>
        <a href="https://www.youtube.com/brasilcursinhos" target="_blank">
          <i class="bi bi-youtube fs-2 me-3" role="img" aria-label="YouTube"></i>
        </a>
        <a href="/contato">
          <i class="bi bi-envelope-at fs-2" role="img" aria-label="E-mail de contato"></i>
        </a>
      </p>
    </div>
  </div>
</footer>